{% extends 'base.html.twig' %}

{% block title %}Ma-ré-création-Jeans{% endblock %}

{% block main_section_1 %}
    {{ include('includes/carrouselAuto.html.twig') }}
{% endblock %}

{% block main_section_2_1 %}
   <h1 class="titre_carrousel">les dernieres creations</h1>
   {{ include('includes/carrouselManuel.html.twig') }}
{% endblock %}

{% block main_section_2_2 %}
    <h1 class="titre_carrousel">les personnalisations clients</h1>
    {{ include('includes/carrouselCreationsClient.html.twig') }}
{% endblock %}

{% block main_section_3_1 %}
    <header class="imgCreatrice">
        <img class="img-monImage" src="{{ asset('build/images/creatrice/im_22.png') }}" alt="">
    </header>
    <article id="section_creatrice_apropos_haut">
        <h1>histoire de la creatrice</h1>
        <section class="histoire">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
        </section>
    </article>
{% endblock %}

{% block main_section_3_2 %}
  <header class="imgCreatrice">
      <img class="img-monImage" src="{{ asset('build/images/creatrice/im_22.png') }}" alt="">
  </header>
  <article id="section_creatrice_apropos_bas">
      <h1>histoire de la creatrice</h1>
      <section class="histoire">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, officiis.</p>
      </section>
  </article>
{% endblock %}

