{% extends 'admin/admin/admin.html.twig' %}

 {% block admin_section_main_2 %}

  <div class="table-responsive w-75 mt-5">
   <table class="table">
    <caption>Client : {{ adminClientCourant.clientNom }}  {{ adminClientCourant.clientPrenom }}</caption>
    <thead>
    <tr>
       <th scope="col">id</th>
       <th scope="col">Nom</th>
       <th scope="col">Prénom</th>
       <th scope="col">Pseudo</th>
       <th scope="col">Créé le</th>
       <th scope="col">Modifié le</th>
    </tr>
    </thead>
    <tbody>
     <tr>
            <th scope="row">{{ adminClientCourant.id}}</th>
            <td>{{ adminClientCourant.clientNom }}</td>
            <td>{{ adminClientCourant.clientPrenom }}</td>
            <td>{{ adminClientCourant.pseudo }}</td>
            <td> {{ adminClientCourant.dateCreation | date("d/m/Y") }}</td>
         {% if adminClientCourant.dateModification != null %}
            <td> {{ adminClientCourant.dateModification | date("d/m/Y") }}</td>
         {% else %}
             <td></td>
         {% endif %}
     </tr>
    </tbody>
   </table>
  </div>

 {% endblock %}

 {% block admin_section_main_2_2 %}
     <div class="table-responsive w-75 mt-5">
         <table class="table">
             <caption>Les adresses du client </caption>
             <thead>
             <tr>
                 <th scope="col">id</th>
                 <th scope="col">N°</th>
                 <th scope="col">Rue</th>
                 <th scope="col">Code postale</th>
                 <th scope="col">Ville</th>
                 <th scope="col">Pays</th>
                 <th scope="col">Créé le </th>
                 <th scope="col">Modifiée le</th>
             </tr>
             </thead>
             <tbody>
             {% for adresse in adminClientCourantAdresses %}
                 <tr>
                         <th scope="row">{{ adresse.id }}</th>
                         <td>{{ adresse.adresseNumero }}</td>
                         <td>{{ adresse.adresseRue }}</td>
                         <td>{{ adresse.adresseCodepostale }}</td>
                         <td> {{ adresse.adresseVille }}</td>
                         <td> {{ adresse.adressePays }}</td>
                         <td> {{ adresse.dateCreation | date("d/m/Y") }}</td>
                     {% if adresse.dateModification != null %}
                        <td> {{ adresse.dateModification | date("d/m/Y") }}</td>
                     {% else %}
                         <td></td>
                     {% endif %}
                 </tr>
             {% endfor %}
             </tbody>
         </table>
     </div>

 {% endblock %}
