{% extends 'admin/admin/admin.html.twig' %}

{% block messageLien %}
	<a href="{{ path('app_admin_crud_tissus_liste') }}">
		Raffraichir la page</a>
{% endblock %}

{% block admin_section_main_2 %}
	<div class="crud_lien">
		<a href="{{path('app_admin_crud_tissus_ajouter')}}">
			<i class="fa-solid fa-plus-square fa-3x"></i>
		</a>
	</div>
	<div class="table-responsive w-75 mt-2">
		<table class="table">
			<caption>Nombre de Tissus : {{ total_tissus }}</caption>
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Désignation</th>
					<th scope="col">Tarif</th>
					<th scope="col">Créé le</th>
					<th scope="col">Modifier le</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if liste_tissus == [] %}
					<tr>
						<td colspan="9" class="fw-bold text-danger">AUCUN TISSUS</td>
					</tr>
				{% endif %}
				{% for tissus in liste_tissus %}
					<tr>
						<th scope="row">{{tissus.id}}</th>
						<td>{{tissus.TissuNom}}</td>
						<td>{{ tissus.TissusDesignation}}</td>
						<td>{{tissus.TissuTarif | number_format(2, ',', '.')}}€</td>
						<td>{{tissus.dateCreation | date("d/m/Y") }}</td>
						{% if tissus.dateModification != null %}
							<td>{{tissus.dateModification | date("d/m/Y")}}</td>
						{% else %}
							<td></td>
							{% endif%}
							<td>
								<a href="{{ path('app_admin_crud_tissus_details', {'id': tissus.id} ) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a href="{{ path('app_admin_crud_tissus_modifier', {'id': tissus.id} ) }}">
									<i class="fa-solid fa-arrow-rotate-back"></i>
								</a>
								<a href="{{ path('app_admin_crud_tissus_supprimer', {'id': tissus.id})}}">
									<i class="fa-solid fa-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>

{% endblock %}

{% block admin_section_main_2_2 %}{% endblock %}
